<app-message 
  *ngIf="httpErrorResponse"
  type="danger" 
  title="Http Response Error"
  [messages]="[
    'Status: ' + httpErrorResponse.status, 
    'URI: ' + httpErrorResponse.url,
    'Message: ' + httpErrorResponse.message]">
</app-message>

<app-loading *ngIf="loading"></app-loading>

<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Buscar artista"
      appAutoFocus 
      #termino 
      (keyup)="search(termino.value)">
  </div>
</div>

<br>

<div class="card-columns">
  <app-tarjetas [item]="item" *ngFor="let item of items"></app-tarjetas>
</div>